@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "CustomError";
}

@{
    if (Model != null)
    {

        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">Sorry, An error occurred while processing your request.</h2>
        <br />
        <h3 class="text-danger">@Model.Exception.Message  in @Model.ControllerName  </h3>
    }
}
