
table, td, th {
    border: 1px solid black;
    text-align: left;
    font-family: Arial;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

th, td {
    padding: 15px;
}

tr:hover {
    background-color: beige;
}
